<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'inicio' %}">
                        🏠 Inicio
                    </a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        👥 Empleados
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_empleado' %}">Agregar empleados</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_empleados' %}">Ver empleados</a></li>
                        <li><a class="dropdown-item" href="{% url 'actualizar_empleados' %}">Actualizar empleados</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        🏢 Sucursal
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_sucursal' %}">Agregar sucursal</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_sucursal' %}">Ver sucursal</a></li>
                        <li><a class="dropdown-item" href="{% url 'actualizar_sucursal' %}">Actualizar sucursal</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        🛋️ Productos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_producto' %}">Agregar productos</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_producto' %}">Ver productos</a></li>
                        <li><a class="dropdown-item" href="{% url 'actualizar_producto' %}">Actualizar productos</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        🏭 Proveedores
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_proveedor' %}">Agregar proveedor</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_proveedor' %}">Ver proveedores</a></li>
                        <li><a class="dropdown-item" href="{% url 'actualizar_proveedor' %}">Actualizar proveedores</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        👤 Clientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_cliente' %}">Agregar cliente</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_cliente' %}">Ver clientes</a></li>
                        <li><a class="dropdown-item" href="{% url 'actualizar_cliente' %}">Actualizar clientes</a></li>
                    </ul>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        💰 Ventas
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'agregar_venta' %}">Nueva venta</a></li>
                        <li><a class="dropdown-item" href="{% url 'ver_venta' %}">Ver ventas</a></li>
                        <li><a class="dropdown-item" href="{% url 'actualizar_venta' %}">Actualizar ventas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>